# ======================================================
#  Core includes
# ======================================================

[include mainsail.cfg]
[include btt_ebb36.cfg]
[include cartographer.cfg]

# Macros (procedural logic)
[include macros/leds.cfg]
[include macros/nozzle.cfg]
[include macros/calibration.cfg]
[include macros/filament.cfg]
[include macros/pause_resume.cfg]
[include macros/print_start.cfg]
[include macros/print_end.cfg]
[include macros/maintenance.cfg]
[include macros/home.cfg]
[include macros/fan_tach_monitor.cfg]
# ======================================================
#  MCU & communication
# ======================================================

[mcu]
canbus_uuid: 49c000c1c373
#serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00

# ======================================================
#  Nevermore Controller
# ======================================================
#[nevermore]
# If you're using USB instead of BT, uncomment and specify the correct serial device.
# WARNING: Make sure it's the `-if02` interface, not `-if00`.
#serial: /dev/serial/by-id/usb-Nevermore_Filter_<board>_<device-id>-if02

# These `fan_power_*` entries are for a DELTA BFB0712HF (StealthMax BOM)
# If you have a different fan then play with these numbers to the satisfaction.
# See full config documentation for details.
# (e.g. See `fan_power_automatic` if you'd prefer very quiet background filtering.)
#fan_power_coefficient: 0.8  # lower max power to keep things much more quiet

# If the fan isn't a DELTA BFB0712HF (StealthMax BOM), you'll probably want to add
#   fan_power_minimum: ???
#   fan_power_kick_start_minimum: ???
# See full-doc for details and some common values.

# Optional
# This 'temperature' sensor only serves to draw the intake VOC index on
# Mainsail/Fluidd's temperature plot.
#[temperature_sensor nevermore_intake_VOC]
#sensor_type: NevermoreSensor
#sensor_kind: intake
#plot_voc: true

# ======================================================
#  Printer kinematics & limits
# ======================================================

[printer]
kinematics: corexy

# Max 700 synthetic testing value. Decreasing ~15% for safety margin
max_velocity: 600
# Max 16000 synthetic testing value. Decreasing ~15% for safety margin
max_accel: 13600
square_corner_velocity: 5.0

max_z_velocity: 20
max_z_accel: 1550


# ======================================================
#  Input shaping
# ======================================================

[input_shaper]
shaper_freq_x: 48.2
shaper_type_x: zv
shaper_freq_y: 34.8
shaper_type_y: zv


# ======================================================
#  Temperature sensors
# ======================================================

[temperature_sensor Kraken]
sensor_type: temperature_mcu

[temperature_sensor RPI]
sensor_type: temperature_host

[temperature_sensor Chamber]
sensor_type: ATC Semitec 104GT-2
sensor_pin: PB0


# ======================================================
#  Homing & endstops
# ======================================================

[homing_override]
axes: xyz
set_position_z: 0  # Necessary to allow moving Z up when unhomed
gcode:
  {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}
  # Move z up to prevent scratching build plate (z-hop)
  G90                # Absolute positioning
  G1 Z10 F600        # Lift Z 10mm
  
  {% if home_all or 'X' in params %}
    _SENSORLESS_HOME_X
  {% endif %}
  
  {% if home_all or 'Y' in params %}
    _SENSORLESS_HOME_Y
  {% endif %}

 {% if home_all or 'Z' in params %}
    G90                      ; absolute positioning
    G1 X160 Y180 F3000       ; move to safe XY
    G28 Z0                   ; now home Z
    G1 Z10 F600              ; Lift Z 10mm
  {% endif %}

  
# ======================================================
#  Motion system (steppers & drivers)
# ======================================================

## Motor 3
[stepper_x]
step_pin: PE2
dir_pin: !PE1
enable_pin: !PE0
microsteps: 32
rotation_distance: 40
full_steps_per_rotation: 200  #set to 400 for 0.9 degree stepper
endstop_pin: tmc5160_stepper_x:virtual_endstop
position_min: 0
position_endstop: 320
position_max: 320
homing_speed: 20   # Max 100
homing_retract_dist: 0
homing_positive_dir: true


## Motor 4
[stepper_y]
step_pin: PB9
dir_pin: !PB8
enable_pin: !PB7
microsteps: 32
rotation_distance: 40
full_steps_per_rotation: 200  #set to 400 for 0.9 degree stepper
endstop_pin: tmc5160_stepper_y:virtual_endstop
position_min: 0
position_endstop: 360
position_max: 360
homing_speed: 20   # Max 100
homing_retract_dist: 0
homing_positive_dir: true

## Z0 Stepper - Front Left on Motor5
[stepper_z]
step_pin: PG9
dir_pin: !PG10
enable_pin: !PG13
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: probe:z_virtual_endstop #^PF3
homing_retract_dist: 0
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
## Increasing position_endstop brings nozzle closer to the bed
## After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: -0.5
position_max: 330
position_min: -5
homing_speed: 20
#second_homing_speed: 3


## Z1 Stepper - Rear Left on Motor6
[stepper_z1]
step_pin: PG11
dir_pin: PD7
enable_pin: !PG12
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32


## Z2 Stepper - Rear Right on Motor7
[stepper_z2]
step_pin: PB4
dir_pin: !PB3
enable_pin: !PB5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32


## Z3 Stepper - Front Right on Motor8
[stepper_z3]
step_pin: PG15
dir_pin: PB6
enable_pin: !PG14
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

########################################
# TMC5160 configuration
########################################

## Motor 3
[tmc5160 stepper_x]
cs_pin: PD4
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
diag1_pin: !PF1
driver_SGT: 1  # -64 is most sensitive value, 63 is least sensitive
interpolate: False
run_current: 1.8
sense_resistor: 0.05
stealthchop_threshold: 0

## Motor 4
[tmc5160 stepper_y]
cs_pin: PD3
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
diag1_pin: !PF2
driver_SGT: 1  # -64 is most sensitive value, 63 is least sensitive
interpolate: False
run_current: 1.8
sense_resistor: 0.05
stealthchop_threshold: 0

## Motor 5
[tmc5160 stepper_z]
cs_pin: PD2
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
##diag1_pin: PF1
interpolate: False
run_current: 0.9
sense_resistor: 0.075
stealthchop_threshold: 0

## Motor 6
[tmc5160 stepper_z1]
cs_pin: PA15
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
##diag1_pin: PF1
interpolate: False
run_current: 0.9
sense_resistor: 0.075
stealthchop_threshold: 0

## Motor 7
[tmc5160 stepper_z2]
cs_pin: PA9
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
##diag1_pin: PF1
interpolate: False
run_current: 0.9
sense_resistor: 0.075
stealthchop_threshold: 0

## Motor 8
[tmc5160 stepper_z3]
cs_pin: PA10
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
##diag1_pin: PF1
interpolate: False
run_current: 0.9
sense_resistor: 0.075
stealthchop_threshold: 0


# ======================================================
#  Heaters, fans, LEDs, filament sensors
# ======================================================

[heater_bed]
## SSR Pin - HE0
heater_pin: PF6
sensor_type: Generic 3950
sensor_pin: PB1
##  Adjust max_power so it doesn't exceed the SSR rating. The Omron G3NA-210B-DC5 SSR is rated at 4 amps without a heatsink.
##  The formula is "4 / (Wattage_of_bed_heater / Mains_voltage) = max_power"
##  If max_power is greater than 1.0, use 1.0
max_power: 1.0
min_temp: -200
max_temp: 120
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769

[temperature_fan compartment_fan_left]
pin: PA5                                                          # the fan control pin (must be a mosfet or a pwm fan)
control: watermark                                                # the type of hysteresis we are using
max_delta: 3.0                                                    # fan turns on/off at 3° over/under target_temp
sensor_type: temperature_combined                                 # new temperature type
sensor_list: temperature_sensor RPI, temperature_sensor Kraken
combination_method: max                                           # use the maximum reading of the sensors
maximum_deviation: 999.9                                          # we don't care about the difference in temperature
max_temp: 85                                                      # just the valid temperature ranges
min_temp: 0
target_temp: 55.0                                                 # the initial target temperature for the fan
max_speed: 0.7
min_speed: 0.3

[temperature_fan compartment_fan_right]
pin: PA0                                                          # the fan control pin (must be a mosfet or a pwm fan)
control: watermark                                                # the type of hysteresis we are using
max_delta: 3.0                                                    # fan turns on/off at 3° over/under target_temp
sensor_type: temperature_combined                                 # new temperature type
sensor_list: temperature_sensor RPI, temperature_sensor Kraken
combination_method: max                                           # use the maximum reading of the sensors
maximum_deviation: 999.9                                          # we don't care about the difference in temperature
max_temp: 85                                                      # just the valid temperature ranges
min_temp: 0
target_temp: 55.0                                                 # the initial target temperature for the fan
max_speed: 0.7
min_speed: 0.3

[neopixel caselight]
# Chamber Lighting - HE2 Connector (Optional)
pin: PF12
chain_count: 12
color_order: WRGB
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.5

[neopixel toolhead_leds]
pin: EBBCan:PD3
#   The pin connected to the neopixel. This parameter must be provided.
chain_count: 3
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRBW
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
initial_RED: 1.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0
#   Sets the initial LED color of the Neopixel. Each value should be
#   between 0.0 and 1.0. The WHITE option is only available on RGBW
#   LEDs. The default for each color is 0.#

[filament_switch_sensor filament_sensor]
switch_pin: ^PF0  # switch sensor IO is PF0
pause_on_runout: False
runout_gcode:
  PAUSE  # [pause_resume] is required in printer.cfg
  M117 Filament switch runout
insert_gcode:
  M117 Filament switch inserted
  
[filament_motion_sensor encoder_sensor]
switch_pin: ^PC0
detection_length: 10.00 # accuracy of motion sensor 2.88mm
extruder: extruder
pause_on_runout: True
runout_gcode:
  PAUSE # [pause_resume] is required in printer.cfg
  M117 Filament Runout Detected!
insert_gcode:
  M117 Filament encoder inserted
  

# ======================================================
#  Safety & utility
# ======================================================

[idle_timeout]
timeout: 1800

[quad_gantry_level]
## Use QUAD_GANTRY_LEVEL to level a gantry.
## Min & Max gantry corners - measure from nozzle at MIN (0,0) and
## MAX (250, 250), (300,300), or (350,350) depending on your printer size
## to respective belt positions

#--------------------------------------------------------------------
## Gantry Corners for 350mm Build
## Uncomment for 350mm build
gantry_corners:
  -60,-10
  410,420
# Probe points
points:
  20,25
  20,275
  300,275
  300,25

#--------------------------------------------------------------------
speed: 100.0
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.03
max_adjust: 15

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE7, EXP1_2=PG1,
    EXP1_3=PG0, EXP1_4=PF15,
    EXP1_5=PF14, EXP1_6=PF13,    # Slot in the socket on this side
    EXP1_7=PF12, EXP1_8=PF11,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PE15, EXP2_4=PE11,
    EXP2_5=PE10, EXP2_6=PE14,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>

[exclude_object]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [cartographer]
#*# z_backlash = 0.00292
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.449349994763745,1.9243698562766993,0.840806722876743,0.377367966725097,0.44349119603259196,0.6044226031381541,-0.2688117920763671,-0.6236172772210424,0.336291410896571,0.42064756881722115
#*# domain = 3.1715153534754573e-07,3.307953296252082e-07
#*# z_offset = 0
#*# reference_temperature = 55.64
#*# software_version = 1.5.0
#*# mcu_version = CARTOGRAPHER V3 6.1.0
#*#
#*# [cartographer touch_model default]
#*# threshold = 1969
#*# speed = 2
#*# z_offset = -0.05
#*# software_version = 1.5.0
#*# mcu_version = CARTOGRAPHER V3 6.1.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.041139, 0.032885, 0.045080, 0.049010, 0.049010, 0.039588, 0.041139, 0.035643, 0.019428, 0.024961, 0.035643, 0.046627, 0.049364, 0.054481, 0.066563, 0.062662, 0.068102, 0.073530, 0.065205, 0.059940
#*# 	0.022196, 0.019428, 0.030486, 0.030308, 0.027371, 0.016652, 0.016652, 0.008674, -0.005279, 0.001527, 0.013878, 0.030486, 0.027728, 0.035643, 0.043527, 0.038392, 0.043887, 0.046627, 0.038392, 0.030129
#*# 	0.005891, 0.011101, 0.018219, 0.019428, 0.013878, -0.002483, 0.000310, -0.005279, -0.018954, -0.013692, 0.000310, 0.013878, 0.013878, 0.019428, 0.024961, 0.019428, 0.016652, 0.021838, 0.012489, 0.011101
#*# 	-0.005279, -0.005279, 0.000310, 0.003105, -0.005279, -0.013692, -0.013513, -0.018954, -0.030239, -0.021949, -0.010529, 0.003105, 0.002925, 0.008674, 0.016652, 0.005891, 0.008320, 0.008320, 0.000132, -0.006679
#*# 	-0.018954, -0.021769, -0.009482, -0.005279, -0.010886, -0.024593, -0.016501, -0.021769, -0.032713, -0.030239, -0.019313, -0.008078, -0.005279, 0.000310, 0.005531, -0.002661, -0.005279, -0.005279, -0.012110, -0.016501
#*# 	-0.024593, -0.030239, -0.018954, -0.010886, -0.013692, -0.028647, -0.024593, -0.027415, -0.037316, -0.030239, -0.021769, -0.008078, -0.008078, -0.002483, 0.003105, -0.008078, -0.008078, -0.008078, -0.015096, -0.018954
#*# 	-0.027415, -0.033067, -0.016501, -0.002661, -0.008078, -0.027415, -0.024593, -0.024593, -0.038378, -0.031476, -0.021769, -0.010886, -0.010886, -0.005279, 0.005891, -0.009304, -0.013692, -0.013692, -0.021769, -0.023181
#*# 	-0.016143, -0.021769, -0.006679, 0.000310, -0.002483, -0.021949, -0.018954, -0.027415, -0.032890, -0.024593, -0.013334, -0.005279, -0.010886, 0.003105, 0.011101, -0.001264, -0.005279, -0.008078, -0.012289, -0.016501
#*# 	-0.024593, -0.022128, -0.005279, 0.001527, 0.000310, -0.019313, -0.016322, -0.021769, -0.024593, -0.016143, -0.008078, -0.002483, -0.008078, 0.002925, 0.013878, 0.003105, -0.002483, -0.005279, -0.010886, -0.024593
#*# 	-0.021769, -0.018954, 0.001527, 0.005531, 0.002744, -0.016322, -0.013334, -0.008078, -0.013692, -0.005279, 0.000310, 0.008674, 0.008674, 0.013878, 0.015265, 0.005891, 0.002744, 0.003105, -0.008078, -0.016143
#*# 	-0.021769, -0.024593, 0.000310, 0.005891, 0.008320, -0.008078, -0.002483, 0.000310, -0.008078, -0.005635, -0.002483, 0.013878, 0.016652, 0.013878, 0.016652, 0.003105, 0.004318, 0.003105, -0.010886, -0.021769
#*# 	-0.018954, -0.019134, -0.005279, 0.003105, 0.005891, 0.000310, 0.008674, 0.011101, -0.002483, 0.000310, 0.008320, 0.023400, 0.021838, 0.022196, 0.024961, 0.013878, 0.011101, 0.005531, -0.005279, -0.013692
#*# 	-0.007904, -0.019313, -0.002839, 0.005891, 0.014057, 0.008320, 0.019428, 0.019249, 0.005531, 0.005891, 0.015265, 0.030129, 0.024961, 0.027371, 0.032885, 0.022196, 0.012489, 0.005531, -0.010886, -0.019313
#*# 	-0.010886, -0.013334, 0.000310, 0.008674, 0.016652, 0.013878, 0.024961, 0.024782, 0.008320, 0.016652, 0.024961, 0.037018, 0.035643, 0.032885, 0.038392, 0.027728, 0.019070, 0.007283, -0.008078, -0.013692
#*# 	-0.004062, -0.015096, 0.003105, 0.013878, 0.024603, 0.027728, 0.035643, 0.032885, 0.019428, 0.021838, 0.030308, 0.041139, 0.038392, 0.038392, 0.041139, 0.030129, 0.019428, 0.011101, -0.005279, -0.016501
#*# 	0.013878, 0.003105, 0.019428, 0.030129, 0.047819, 0.057209, 0.057209, 0.047996, 0.032885, 0.038392, 0.046627, 0.054481, 0.052104, 0.049010, 0.052104, 0.041139, 0.030486, 0.019428, 0.005531, -0.007722
#*# 	0.038392, 0.013878, 0.030486, 0.049364, 0.061301, 0.062662, 0.068102, 0.062483, 0.046627, 0.049010, 0.057209, 0.062662, 0.062304, 0.057209, 0.059940, 0.049010, 0.041139, 0.033063, 0.013878, 0.000310
#*# 	0.054481, 0.037196, 0.049010, 0.065381, 0.078591, 0.073174, 0.081292, 0.073174, 0.062662, 0.068102, 0.075881, 0.083641, 0.081292, 0.081292, 0.083996, 0.070464, 0.059940, 0.050734, 0.032885, 0.019428
#*# 	0.097099, 0.066566, 0.081292, 0.094769, 0.105137, 0.094769, 0.102463, 0.099780, 0.089388, 0.089388, 0.102463, 0.111818, 0.112798, 0.113154, 0.112798, 0.097099, 0.083996, 0.078591, 0.059582, 0.051745
#*# 	0.136335, 0.118127, 0.126100, 0.137833, 0.141612, 0.131400, 0.138978, 0.136687, 0.128754, 0.131400, 0.144249, 0.154407, 0.157029, 0.152136, 0.151786, 0.136335, 0.128754, 0.120790, 0.102463, 0.089029
#*# min_x = 10.0
#*# min_y = 20.0
#*# max_x = 310.0
#*# max_y = 310.0
#*# x_count = 20
#*# y_count = 20
#*# mesh_x_pps = 0
#*# mesh_y_pps = 0
#*# algo = bicubic
#*# tension = 0.2
#*#
#*# [axis_twist_compensation]
#*# z_compensations = 0.086681, -0.016619, -0.024912, -0.014050, -0.031100
#*# compensation_start_x = 10.0
#*# compensation_end_x = 310.0
#*# zy_compensations = 0.049964, -0.012412, 0.019101, -0.041589, -0.015065
#*# compensation_start_y = 20.0
#*# compensation_end_y = 295.0
