# ======================================================
# Filament handling macros
# ======================================================

[gcode_macro LOAD_FILAMENT]
variable_load_distance: 101
gcode:
  {% set speed = params.SPEED|default(150) %}
  SAVE_GCODE_STATE NAME=load
  SET_DISPLAY_TEXT MSG="Hotend: 250c"
  M109 S250
  G91
  G92 E0
  G1 E{load_distance} F{speed}
  RESTORE_GCODE_STATE NAME=load

[gcode_macro UNLOAD_FILAMENT]
variable_unload_distance: 101
variable_purge_distance: 5
gcode:
  {% set speed = params.SPEED|default(300) %}
  {% set max_v = printer.configfile.settings.extruder.max_extrude_only_velocity * 60 %}
  SAVE_GCODE_STATE NAME=unload
  SET_DISPLAY_TEXT MSG="Hotend: 250c"
  M109 S250
  G91
  G92 E0
  G1 E{purge_distance} F{speed}
  G1 E-{unload_distance} F{max_v}
  RESTORE_GCODE_STATE NAME=unload
