# ======================================================
# _SENSORLESS_HOME_X and _SENSORLESS_HOME_Y
# ======================================================

[gcode_macro _SENSORLESS_HOME_X]
gcode:
    {% set HOME_CUR = 1.300 %}
    {% set HOME_ACCEL = 300 %}
    {% set driver_config = printer.configfile.settings['tmc5160 stepper_x'] %}
    {% set printer_settings = printer.configfile.settings['printer'] %}
    {% set RUN_CUR = driver_config.run_current %}
    {% set RUN_ACCEL = printer_settings.max_accel %}
    # Set current for sensorless homing
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR}
    SET_VELOCITY_LIMIT ACCEL={HOME_ACCEL} ACCEL_TO_DECEL={HOME_ACCEL}
    # Pause to ensure driver stall flag is clear
    G4 P2000
    # Home (G28.6245197 to avoid G28 called recursively from homing_override: https://github.com/jschuh/klipper-macros?tab=readme-ov-file)
    G28 X0
    # Move away
    G91
    G1 X-5 F1200
    # Set current during print
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CUR}
    SET_VELOCITY_LIMIT ACCEL={RUN_ACCEL} ACCEL_TO_DECEL={RUN_ACCEL}
    
[gcode_macro _SENSORLESS_HOME_Y]
gcode:
    {% set HOME_CUR = 1.300 %}
    {% set HOME_ACCEL = 300 %}
    {% set driver_config = printer.configfile.settings['tmc5160 stepper_y'] %}
    {% set printer_settings = printer.configfile.settings['printer'] %}
    {% set RUN_CUR = driver_config.run_current %}
    {% set RUN_ACCEL = printer_settings.max_accel %}
    # Set current for sensorless homing
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR}
     SET_VELOCITY_LIMIT ACCEL={HOME_ACCEL} ACCEL_TO_DECEL={HOME_ACCEL}
    # Pause to ensure driver stall flag is clear
    G4 P2000
    # Home (G28.6245197 to avoid G28 called recursively from homing_override: https://github.com/jschuh/klipper-macros?tab=readme-ov-file)
    G28 Y0
    # Move away
    G91
    G1 Y-5 F1200
    # Set current during print
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CUR}
    SET_VELOCITY_LIMIT ACCEL={RUN_ACCEL} ACCEL_TO_DECEL={RUN_ACCEL}