# ======================================================
# Nozzle & filament contact macros
# ======================================================

[gcode_macro CLEAN_NOZZLE]
gcode:
  SAVE_GCODE_STATE NAME=clean_nozzle

  G90
  G1 Z1.5 F3000
  G1 X1 Y359 F18000

  G91
  G1 E2 F300
  G90

  G1 X60 F18000
  G1 X1  F9000
  G1 X60 F18000
  G1 X1  F9000
  G1 X60 F18000

  RESTORE_GCODE_STATE NAME=clean_nozzle
