# ======================================================
# Pause / Resume logic
# ======================================================

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
  {% set z = params.Z|default(10)|int %}
  {% if not printer.pause_resume.is_paused %}
    SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE={z}
    SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=etemp VALUE={printer.extruder.target}
    SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0
    SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=0
    SAVE_GCODE_STATE NAME=PAUSE
    BASE_PAUSE
    G91
    G1 Z{z} F900
    G90
    G1 X{printer.toolhead.axis_maximum.x/2} Y5 F6000
    SAVE_GCODE_STATE NAME=PAUSEPARK
    M104 S0
    SET_IDLE_TIMEOUT TIMEOUT=43200
  {% endif %}

[gcode_macro RESUME]
rename_existing: BASE_RESUME
variable_zhop: 0
variable_etemp: 0
gcode:
  {% if printer.pause_resume.is_paused %}
    SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=1
    SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=1
    SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}
    {% if etemp > 0 %} M109 S{etemp} {% endif %}
    RESTORE_GCODE_STATE NAME=PAUSEPARK MOVE=1
    G91
    G1 Z{-zhop} E2 F900
    RESTORE_GCODE_STATE NAME=PAUSE MOVE=1
    BASE_RESUME
  {% endif %}
