# ======================================================
# PRINT_END
# ======================================================

[gcode_macro PRINT_END]
gcode:
  SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0
  SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=0

  SAVE_GCODE_STATE NAME=end
  M400
  G92 E0
  G1 E-10 F3600

  G91
  G1 Z2 X20 Y20 F20000
  TURN_OFF_HEATERS
  M107
  G90
  G1 X0 Y350 F3600
  BED_MESH_CLEAR
  RESTORE_GCODE_STATE NAME=end MOVE=0
